<form action="/urls" method="post">
  <div class="card-body">
    <div class="d-flex flex-column">
      <div> Success! Please use this link:</div>
      <div type="textarea" id="shortUrl">{{{shortUrl}}}</div>
      <button
        type="button"
        class="btn btn-primary btn-sm w-50 mx-auto mt-2"
        id="copyButton"
      >Copy</button>
    </div>
  </div>
</form>