<form action="/urls" method="post">
  <div class="card-body mt-3">
    <div class="d-flex flex-column text-center">
      <h2> Success! Please use this link:</h2>
      <div type="textarea" id="shortUrl">{{{shortUrl}}}</div>
      <div class="d-grid gap-2 d-md-block">
        <button
          type="submit"
          class="btn btn-outline-primary btn-lg mt-3"
        >Copy</button>
        <a href="/">
          <button type="button" class="btn btn-outline-secondary btn-lg mt-3">
            Back
          </button></a>
      </div>

    </div>
  </div>
</form>